@page
@model RegistrationSystem.Pages.ChangePasswordViewModel
@{
}

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

<style>

	html, body {
		height: 60%;
	}

	body {
		font-family: 'Roboto', sans-serif;
		background-image: linear-gradient(to top, #FFFFFF 0%, #0000FF 100%);
	}

	.demo-container {
		height: 60%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.btn-lg {
		padding: 12px 26px;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	::placeholder {
		font-size: 14px;
		letter-spacing: 0.5px;
	}

	.form-control-lg {
		font-size: 16px;
		padding: 15px 15px;
	}

	.font-500 {
		font-weight: 500;
	}

	.image-size-small {
		width: 140px;
		margin: 0 auto;
	}

		.image-size-small img {
			width: 140px;
			margin-bottom: -70px;
		}
</style>



<link rel="stylesheet" href="https://cdn.lineicons.com/2.0/LineIcons.css">
<div class="demo-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 mx-auto">
                <div class="text-center image-size-small position-relative">
                    <img src="https://annedece.sirv.com/Images/user-vector.jpg" class="rounded-circle p-2 bg-white">

                </div>
                <div class="p-5 bg-white rounded shadow-lg">
                    <h3 class="mb-2 text-center pt-5">Enter current username</h3>
					<form method="post">
						<div class="form-group">
							<label for="bname">Username:</label>
							<input asp-for="enteredUsername" id="bname" class="form-control" />
						</div>
						<br />
						<button type="submit" class="btn btn-primary btn-block">Reset Password</button>
					</form>
                    <div class="text-center pt-4">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
