@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
<style>
    
	html, body {
		height: 60%;
	}
	body {
		font-family: 'Roboto', sans-serif;
        background-image: linear-gradient(to top, #FFFFFF 0%, #0000FF 100%);
	}
	.demo-container {
		height: 60%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.btn-lg {
		padding: 12px 26px;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	::placeholder {
	font-size:14px;
	letter-spacing:0.5px;
	}
	.form-control-lg {
		font-size: 16px;
		padding: 15px 15px;
	}
	.font-500{
	font-weight:500;	
	}
	.image-size-small{
	width:140px;
	margin:0 auto;	
	}
	.image-size-small img{
	width:140px;
	margin-bottom:-70px;	
	}
	
</style>


<link rel="stylesheet" href="https://cdn.lineicons.com/2.0/LineIcons.css">
<div class="demo-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 mx-auto">
                <div class="text-center image-size-small position-relative">
                    <img src="https://annedece.sirv.com/Images/user-vector.jpg" class="rounded-circle p-2 bg-white">
                    
                </div>
                <div class="p-5 bg-white rounded shadow-lg">
                    <h3 class="mb-2 text-center pt-5">Sign In</h3>
                    <form method="post" onsubmit="return validateUsername()">
                        <div class="form-group">
                            <label for="value1">Username:</label>
                            <input id="value1" asp-for="usrnm" class="form-control form-control-lg mb-3" required />
                        </div>
                        <div class="form-group">
                            <label for="value2">Password:</label>
                            <input type="password" id="value2" asp-for="pw" class="form-control form-control-lg mb-3" required />
                            <img src="Icons/eye.svg" onmouseover="showPass();" onmouseout="hidePass();" />
                        </div>
                        <p id="error-message" style="color: red;"></p>
                        <button type="submit" class="btn btn-primary btn-block" onclick="window.location.href='StudentView'">Sign In</button>
                    </form>
                    <div class="text-center pt-4">
                        <p class="m-0"><a href="/ChangePasswordView">Forgot Password?</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function showPass() {
        let obj = document.getElementById('value2');
        obj.type = 'text';
    }
    function hidePass() {
        let obj = document.getElementById('value2');
        obj.type = 'password';
    }

    function validateUsername() {
        var enteredUsername = document.getElementById('value1').value;
        var sliced = enteredUsername.slice(0, 1)
        var expected1 = 'a';
        var expected2 = 'u';

        if (sliced !== expected1 && sliced !== expected2) {
            // Display error message
            document.getElementById('error-message').textContent = 'Incorrect username format. Username should be uXXXXXXX or aXXXXXXX';
            return false; // Prevent form submission
        }

        return true; // Allow form submission
    }


</script>
