@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    <h3 class="text-center">Sign In</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="value1">Username:</label>
                            <input id="value1" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="value2">Password:</label>
                            <input type="password" id="value2" class="form-control" required />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" onclick="window.location.href='StudentView'">Sign In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>