@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Eye Icon Example</title>
</head>
<body>
    <h1>Password Eye Icon</h1>
    <img src="https://icons.iconarchive.com/icons/icons8/ios7/512/Very-Basic-Show-Password-icon.png" alt="Password Eye Icon" style="width: 24px; height: 24px;">
</body>
</html>
    

 