@page
@model RegistrationSystem.Pages.StudentViewModel
@{
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <!-- Add any additional stylesheets or CSS frameworks here -->
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }




        nav {
            background-color: #444;
            color: #818181;
            padding: 10px;
            text-align: center;
        }

            nav a {
                color: #818181;
                text-decoration: none;
                padding: 10px;
                margin: 0 10px;
            }

        main {
            padding: 20px;
        }

   
        .dashboard-component {
            background-color: #fff;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>

    <main>
        <p>@Model.studentUser.StudentName</p>
        <p>@Model.studentUser.UserName</p>
        <p>@Model.studentUser.Course</p>
        <div class="dashboard-component">
            <h2>Enrolled Modules</h2>
            
            <button onclick="window.location.href='RegisterView'">Register</button>
            
        </div>

    </main>


</body>
